.dashboardContainer {
    display: flex;
    flex-direction: column;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  height: 100%;
  border-radius: 5px;
  gap: 50px;
}
.cardContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.chartContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
