@import './base.css';

.authContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./image/loginBg.jpg');
  width: '100%';
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT CONTAINER STYLING START */

.layoutContainer {
  width: 100%;
  height: 100vh;
  background-color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  width: 100%;
  height: 100vh;
  /* background-color: #d0e4e5; */
  background-color: #fff;
  display: flex;
  transition:
    all 0,
    3s linear;
  /* padding: 20px; */
  flex-direction: column;
  overflow-y: scroll;
}

/* LAYOUT CONTAINER STYLING END */

/* HEADER CONTAINER STYLING START */
.headerContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid rgb(160, 160, 160);
}

.searchBox {
  width: 300px;
  height: 40px;
  background-color: #f3f4ef;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  padding: 0 20px;
  gap: 10px;
}

.searchBox input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.userProfile {
  position: relative;
}

.headerProfileBox {
  cursor: pointer;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
.headerProfileBox img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid black;
}

.profileCard {
  position: absolute;
  width: 200px;
  right: 0;
  transform: scale(0) translateY(60px);
  /* visibility: hidden; */
  transition: 0.2s linear;
}

.profileCard.active {
  transform: scale(1) translateY(0px);
  /* visibility: visible; */
}
/* HEADER CONTAINER STYLING END */

/* SIDEBAR CONTAINER STYLING START */
.sidebarContainer {
  width: 400px;
  height: 100%;
  background-color: #d0e4e5;
  transition: all 0.3s linear;
  overflow-y: auto;
  border-right: 1px solid rgb(179, 179, 179);
}

.sideBarProfileBox {
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.sideBarProfileBox img {
  width: 100%;
  height: 100px;
}

.sidebarListBox {
  width: 100%;
  padding: 10px;
}

.sidebarList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 18px;
  padding: 6px;
  border-radius: 5px;
}

.sidebarListItem:hover {
  background-color: #0c828c;
  color: #fff;
}
.sidebarListItem.active {
  background-color: #0c828c;
  color: #fff;
}

/* SIDEBAR CONTAINER STYLING END */
