/* Scrollbar css */
/* Modern browsers (Firefox, Chrome 121+, Edge 121+) */
.scrollable-table {
    scrollbar-color: #4f46e5 #1f2937;
    /* thumb color, track color */
    scrollbar-width: 30px;
    /* or 'auto' for default width */
    /* scrollbar-gutter: stable; */
    overflow-y: scroll;
    
}

/* Webkit browsers (Chrome, Safari, Edge) - for better customization */
.scrollable-table::-webkit-scrollbar {
    width: 20px;
    /* vertical scrollbar width */
    height: 5px;
    /* horizontal scrollbar height */
}

.scrollable-table::-webkit-scrollbar-track {
    background: #1f2937;
    /* track color */
    border-radius: 4px;
}

.scrollable-table::-webkit-scrollbar-thumb {
    background: #4f46e5;
    /* thumb color */
    border-radius: 4px;
}

.scrollable-table::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
    /* hover color */
}