.rateChartContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.snfChartBox {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.chartTitle {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.tableWrapper {
  overflow-x: auto;
}

.snfChartTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.snfChartTable th,
.snfChartTable td {
  border: 1px solid #ccc;
  padding: 6px;
  min-width: 60px;
}

.snfChartTable th {
  background-color: #1e40af;
  color: white;
  position: sticky;
  top: 0;
}

.editableInput {
  width: 100%;
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 4px;
  background-color: transparent;
  outline: none;
}

.editableInput:focus {
  background-color: #eef;
  border: 1px solid #1e40af;
}
.saveBtn button{
    padding: 5px 8px;
    color: white;
}
